{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% macro render_events_table(events) %}
    <table>
        <thead>
            <tr>
                <th class="text-right">Type</th>
                <th>Origin</th>
                <th>Line</th>
                <th>Data</th>
            </tr>
        </thead>

        <tbody>
            {% for event in events %}
                <tr>
                    <td class="text-right nowrap">{{ event.type.value }}</td>
                    <td class="font-normal">{{ event.eventOrigin }}</td>
                    <td class="font-normal">{{ event.origin ?? 'unknown' }}</td>
                    <td class="font-normal">
                        {% for key, value in event.data %}
                            {% if value is not iterable%}
                                {{ key }} : {{ value }}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro render_cards_table(cards) %}
    <table>
        <thead>
            <tr>
                <th class="text-right">Id</th>
                <th>Instance id</th>
                <th>Class</th>
                <th>Called methods</th>
                <th>Effects</th>
            </tr>
        </thead>

        <tbody>
            {% for card in cards %}
                <tr>
                    <td class="text-right nowrap">{{ card.id }}</td>
                    <td class="font-normal">{{ card.instanceId }}</td>
                    <td class="font-normal">{{ constant('class', card) }}</td>
                    <td class="font-normal">{{ card.methodCalled|join("\n")|nl2br }}</td>
                    <td class="font-normal">{{ card.effects is defined ? card.effects.all|length : 'unknown' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro render_players_table(players, collector) %}
    <table>
        <thead>
            <tr>
                <th class="text-right">Id</th>
                <th>Health point</th>
                <th>Hand</th>
                <th>Play area</th>
            </tr>
        </thead>

        <tbody>
            {% for player in players %}
                <tr>
                    <td class="text-right nowrap">{{ player.player.id }}</td>
                    <td class="font-normal">{{ player.healthPoints }}</td>
                    <td class="font-normal">{{ player.hand|join("\n")|nl2br }}</td>
                    <td class="font-normal">{{ profiler_dump(collector.playArea(player.player.id)) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}


{% block menu %}
    <span class="label {{ collector.events ? '' : ' disabled' }} ">
        <span class="icon">{{ include('icons/game.svg') }}</span>
        <strong>Game</strong>
    </span>
{% endblock %}

{% block toolbar %}
    {% set icon %}
        <span class="sf-toolbar-value">Game</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Events</b>
            <span>{{ collector.events|length }}</span>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: false }) }}
{% endblock %}

{% block panel %}
    <h2>Game</h2>

    <div class="metrics">
        <div class="metric-group">
            {% for name, count in collector.eventStats %}
                <div class="metric">
                    <span class="value">{{ count }}</span>
                    <span class="label">{{ name }}</span>
                </div>
            {% endfor %}
        </div>

        <div class="metric-divider"></div>
        <div class="metric-group">
            <div class="metric">
                <span class="value">{{ collector.mainEvent?.type?.value ?? 'Unknow' }}</span>
                <span class="label">Main event</span>
            </div>
            <div class="metric">
                <span class="value">{{ collector.subEvents|length }}</span>
                <span class="label">Sub events</span>
            </div>
        </div>
    </div>

    <div class="sf-tabs">
        {% if collector.eventsCount == 0 %}
            <div class="empty empty-panel">
                <p>No game here.</p>
            </div>
        {% else %}
            <div class="tab">
                <h3 class="tab-title">Events <span class="badge">{{ collector.realEvents|length }}</span></h3>
                <div class="tab-content">
                    {{ _self.render_events_table(collector.realEvents) }}
                </div>
            </div>

            {% if collector.replayedEvents|length != 0 %}
                <div class="tab">
                    <h3 class="tab-title">Replayed event <span class="badge">{{ collector.replayedEvents|length }}</span></h3>
                    <div class="tab-content">
                        {{ _self.render_events_table(collector.replayedEvents) }}
                    </div>
                </div>
            {% endif %}

            <div class="tab">
                <h3 class="tab-title">Game contexts <span class="badge">{{ collector.gameContexts|length }}</span></h3>
                <div class="tab-content">
                    {% for gameContext in collector.gameContexts %}
                         <h4>Game context #{{ loop.index }}</h4>
                         <div>
                             <h5>State</h5>
                             {{ profiler_dump(gameContext.state) }}
                         </div>
                         <div>
                             <h5>Flushed events</h5>
                             {{ profiler_dump(gameContext.flushedEvents) }}
                         </div>
                    {% endfor %}
                </div>
            </div>

            <div class="tab">
                <h3 class="tab-title">Card <span class="badge">{{ collector.cards|length }}</span></h3>
                <div class="tab-content">
                    {{ _self.render_cards_table(collector.cards) }}
                </div>
            </div>

            {% if collector.lastGameState is not null %}
                <div class="tab">
                    <h3 class="tab-title">Last Game State</h3>
                    <div class="tab-content">
                        {{ _self.render_players_table([
                            collector.lastGameState.player1,
                            collector.lastGameState.player2,
                        ], collector) }}
                    </div>
                    <h4>Cards states</h4>
                    {{ profiler_dump(collector.lastCards)}}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
